<a href="https://colab.research.google.com/github/tenwang10/Further-Programming/blob/main/Amazon_ML_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/AI & Data Science BootCamp/sales_returns.csv")
data.head()

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,cust_age,cust_gender,segment,country,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,returned
0,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.56,2,0.0,2.4824,True
1,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.48,3,0.2,16.0110,True
2,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.72,4,0.2,7.3840,True
3,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,Consumer,United States,...,East,OFF-ST-10000604,Office Supplies,Storage,Home/Office Personal File Carts,208.56,6,0.0,52.1400,True
4,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,Consumer,United States,...,East,OFF-PA-10001569,Office Supplies,Paper,Xerox 232,32.40,5,0.0,15.5520,True

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1302 entries, 0 to 1301
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1302 non-null   object
 1   order_date     1302 non-null   object
 2   ship_date      1302 non-null   object
 3   ship_mode      1302 non-null   object
 4   customer_id    1302 non-null   object
 5   customer_name  1302 non-null   object
 6   cust_age       1302 non-null   int64
 7   cust_gender    1302 non-null   object
 8   segment        1302 non-null   object
 9   country        1302 non-null   object
 10  city           1302 non-null   object
 11  state          1302 non-null   object
 12  postal_code    1302 non-null   int64
 13  region         1302 non-null   object
 14  product_id     1302 non-null   object
 15  category       1302 non-null   object
 16  sub_category   1302 non-null   object
 17  product_name   1302 non-null   object
 18  sales          1302 non-null   float64
 19  quantity       1302 non-null   int64
 20  discount       1302 non-null   float64
 21  profit         1302 non-null   float64
 22  returned       1302 non-null   bool
dtypes: bool(1), float64(3), int64(3), object(16)
memory usage: 225.2+ KB

In [ ]:
X = data.loc[:,["cust_age","cust_gender","sub_category","city"]]
y = data.returned
X.head()

   cust_age cust_gender sub_category           city
0        19      Female          Art  San Francisco
1        19      Female       Phones  San Francisco
2        19      Female      Binders  San Francisco
3        20      Female      Storage           Troy
4        20      Female        Paper           Troy

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.cust_gender = enc.fit_transform(X.cust_gender)
X.sub_category = enc.fit_transform(X.sub_category)
X.city = enc.fit_transform(X.city)
X.head()

   cust_age  cust_gender  sub_category  city
0        19            0             2   156
1        19            0            13   156
2        19            0             3   156
3        20            0            14   173
4        20            0            12   173

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X,y) # training, learning, fitting

RandomForestClassifier()

In [ ]:
model.predict([[27,0,13,156]])  # this order has high prob of returning, Block it

array([ True])

In [ ]:
model.predict([[24,1,10,100]])  # Good, ship it.

array([False])

In [ ]:
model.score(X,y)

0.999231950844854